<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
        .jumbotron {
            background: url('https://d2vvqscadf4c1f.cloudfront.net/rGIBmJUAT46UuLPwXo3K_Fedora_Core_Ultimate2.jpg') no-repeat center center;
            height: 350px;
            color: white;
            text-shadow: #444 0 1px 1px;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <div class="container" >
        <h1>Spring Framework Guru</h1>
        <p class="lead">Online Courses for Spring Framework</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Spring Framework Guru - Course Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://d2vvqscadf4c1f.cloudfront.net/scgeIJ9wRGGNWvK0jAld_ThumbFREE_01.png" class="center-block">
        </div>
        <div class="col-md-6">
            <h2>Course Title</h2>
            <p>Course description - Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci alias
                assumenda at atque beatae consectetur corporis cupiditate dolor dolorem doloremque dolores ea enim
                error esse, eum excepturi expedita explicabo facilis ipsum iusto laudantium nihil numquam omnis,
                pariatur provident quas, repellendus repudiandae saepe sapiente sequi sint suscipit totam ullam
                veniam voluptates voluptatibus. Ab adipisci corporis dicta ea esse ex facere hic, id impedit
                inventore ipsam itaque iure laborum molestiae nam neque numquam quia quibusdam quos reiciendis
                similique sint tenetur voluptas. Architecto, at consequatur consequuntur distinctio facere iste
                libero officiis porro quas quo ratione, unde veritatis! Deleniti, sapiente, soluta! Alias aut autem,
                consequatur debitis dignissimos ducimus earum eveniet exercitationem id incidunt ipsum magni maxime
                molestias neque nobis odit quaerat quas quos recusandae rerum suscipit totam unde voluptatem
                voluptatibus voluptatum!</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-6 col-md-4">
            <button class="btn btn-success">Buy Now!</button>
        </div>
    </div>
</div>

</body>
</html>